@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope/manrope-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope/manrope-light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope/manrope-medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope/manrope-bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope/manrope-semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope/manrope-extralight.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/space_grotesk/SpaceGrotesk-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/space_grotesk/SpaceGrotesk-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/space_grotesk/SpaceGrotesk-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/space_grotesk/SpaceGrotesk-Light.otf");
  font-weight: 300;
  font-style: normal;
}

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  /* --background: oklch(var(--p)) */
  --background: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* background:  oklch(var(--p)); */
  font-family: "Manrope", Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.timeline-vertical:where(.timeline-snap-icon) > li {
  --timeline-col-start: 0;  
}
